@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2);
  font-weight: 700;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

/* Стили для всей страницы */
body {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

}

.container {
  width: 1060px;
  margin: 0 auto;
}

/* Стили для повторяющихся элементов */

.button {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-width: 0;
  cursor: pointer;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus,
.button:disabled:active {
  background-color: #E5E5E5;
  color: #fff;
  cursor: default;
}

.button:disabled:hover {
  cursor: default;
}

.button:focus {
  outline: none;
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Стили для main-header */
.main-nav {
  padding: 0 70px;
  display: flex;
  position: relative;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.site-navigation {
  margin-left: 185px;
  margin-right: 50px;
  flex-wrap: wrap;
}

.main-header__site-logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.site-navigation-item {
  border-bottom: 2px solid transparent;
}

.site-navigation-item.current {
  border-bottom-color: #756257;
}

.site-navigation-item:hover {
  border-bottom-color: #756257;
  transition: 500ms;
}

.site-navigation .site-navigation-item:not(:last-child) {
  margin-right: 32px;
}

.site-navigation-link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 0 18px 0;
}

.user-navigation {
  margin-left: auto;
  justify-content: flex-end;
  width: 270px;
  text-align: center;
}

.user-navigation-link {
  display: block;
  width: 44px;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  padding: 20px 0;
}

.favorites-count {
  position: absolute;
  top: 11px;
  right: 6px;
  display: block;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #fff;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
}

.user-navigation-item.button-item {
  margin-left: 20px;
}

.main-header__user-navigation-link.button {
  width: 160px;
  padding: 6px 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #756157;
}

.main-header__user-navigation-link.button:hover {
  background-color: #615048;
  transition: 300ms;
}

.main-header__user-navigation-link.button:focus {
  background-color: #615048;
}

.main-header__user-navigation-link.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* Стили для main */

.main-container {
  flex-grow: 1;
}

/* ---------- Стили для главной страницы ---------- */

/* Стили для промо-блока */
.promo {
  text-align: center;
  min-height: 485px;
  margin-bottom: 70px;
  background-image: url('../img/vector/promo-background-divider.svg'), url('../img/bitmap/promo-background.jpg');
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 100%, 0 0;
  background-color: #7DB54F;
}

.promo-img {
  margin-top: 50px;
}



/* Стили для блока преимуществ */

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.advantages-promo-text {
  line-height: 26px;
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
  text-align: center;
}

.attractions-list,
.benefits-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.attractions-list {
  display: flex;
  flex-wrap: wrap;
}

.attractions-list-item.img-item {
  display: flex;
  background-color: #82B3D3;
}

.attractions-item-text-group {
  position: relative;
  width: 400px;
  min-height: 384px;
  padding-top: 90px;
}

.attractions-list-item:last-child .attractions-item-text-group {
  order: 2;
}

.attractions-item-text-group::after {
  display: block;
  content: '';
  position: absolute;
  top: 178px;
  left: 170px;
  width: 60px;
  height: 2px;
  background-color: #fff;
  opacity: 30%;
}

.attractions-list-item.img-item .attractions-item-title {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
}

.attractions-list-item.img-item .attractions-item-text {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.attractions-list-item.text-item {
  position: relative;
  width: 400px;
  min-height: 384px;
  padding-top: 102px;
  background-color: rgba(131, 179, 211, 0.12);
}

.attractions-list-item.text-item::after {
  display: block;
  content: '';
  position: absolute;
  top: 188px;
  left: 170px;
  width: 60px;
  height: 2px;
  background-color: #000;
  opacity: 30%;
}

.attractions-list-item.dark-grey {
  background-color: #83B3D333;
}

.attractions-list-item.text-item .attractions-item-title {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
}

.attractions-list-item.text-item .attractions-item-text {
  font-size: 18px;
  line-height: 21px;
  color: #000;
  text-align: center;
  margin: 0;
  padding: 0;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.benefits-list-item {
  position: relative;
  width: 400px;
  min-height: 384px;
  padding-top: 182px;
  background-color: #83B3D31F;
}

.benefits-list-item.transparent-background {
  background-color: #fff;
}

.benefits-list-item.housing {
  background-image: url('../img/vector/benefits-housing.svg');
  background-repeat: no-repeat;
  background-position: 164px 80px;
}

.benefits-list-item.food {
  background-image: url('../img/vector/benefits-food.svg');
  background-repeat: no-repeat;
  background-position: 164px 80px;
}

.benefits-list-item.souvenirs {
  background-image: url('../img/vector/benefits-souvenirs.svg');
  background-repeat: no-repeat;
  background-position: 164px 78px;

}

.benefits-item-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.benefits-item-text {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}


/* Стили для секции с открытием модального окна (section.search) */
.search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search__question-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.search__booking-dates {
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.search__button {
  color: #fff;
  background-color: #756157;
  width: 376px;
  height: 52px;
  margin: 0 auto;
  padding: 8px 0;
  font-size: 20px;
}

.search__button:hover {
  background-color: #615048;
  transition: 300ms;
}

.search__button:focus {
  background-color: #615048;
}

.search__button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/*---------- Стили для страницы-каталога ----------*/

/* Стили для секции с фильтрами */

.hotel-filter__wrapper {
  background-image: url("../img/bitmap/hotel-filter-background.jpg");
  background-size: cover;
  background-color: #756157;
  background-repeat: no-repeat;
  min-height: 412px;
  padding-top: 35px;
  padding-left: 70px;
  padding-bottom: 70px;
  padding-right: 70px;
}

.main-title {
  color: #fff;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 22px;
}

.breadcrumbs-item-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
}

.to-home {
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../img/vector/breadcrumbs-back-to-main-page-icon.svg');
  padding: 10px;
}

.breadcrumbs-item-link.current {
  cursor: default;
}

.breadcrumbs-item-link.current::before {
  content: '';
  top: 7px;
  right: 85px;
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  rotate: 45deg;
}


.hotel-filter {
  margin-top: 40px;
}

.hotel-filter-form {
  display: flex;
  margin: 0;
  padding: 0;
}

.hotel-filter-group {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.infrastructure-filter-group {
  gap: 16px;
  margin-right: 70px;
}

.type-of-housing-filter-group {
  gap: 16px;
  margin-right: 140px;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 32px;
}

.infrastructure-name {
  display: block;
  position: relative;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.type-of-housing-name {
  display: block;
  position: relative;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.infrastructure-filter-group__control-mark {
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.control-title {
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 2px;
  display: block;
  width: 7px;
  height: 12px;
  border-right: 2px solid #3F5E72;
  border-bottom: 2px solid #3F5E72;
  rotate: 45deg;
}

.type-of-housing-filter-group__control-mark {
  position: absolute;
  left: 0;
  top: 2px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.control-input[type="checkbox"]:hover + .control-mark,
.control-input[type="checkbox"]:hover ~ .control-title {
  opacity: 0.3;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:active + .control-mark,
.control-input[type="checkbox"]:active ~ .control-title {
  opacity: 0.2;
}

.control-input[type="checkbox"]:disabled + .control-mark,
.control-input[type="checkbox"]:disabled:hover + .control-mark,
.control-input[type="checkbox"]:disabled:focus + .control-mark,
.control-input[type="checkbox"]:disabled:active + .control-mark {
  opacity: 0.2;
  outline: none;
  cursor: default;
}

.control-input[type="checkbox"]:disabled ~ .control-title,
.control-input[type="checkbox"]:disabled:hover ~ .control-title,
.control-input[type="checkbox"]:disabled:focus ~ .control-title,
.control-input[type="checkbox"]:disabled:active ~ .control-title {
  opacity: 0.2;
  cursor: default;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #3F5E72;
  border: 5px solid #fff;
  border-radius: 50%;
}

.control-input[type="radio"]:hover + .control-mark,
.control-input[type="radio"]:hover ~ .control-title {
  opacity: 0.3;
}

.control-input[type="radio"]:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input[type="radio"]:active + .control-mark,
.control-input[type="radio"]:active ~ .control-title {
  opacity: 0.2;
}

.price-filter-group {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-right: 65px;
  margin-left: 10px;
}

.range-wrapper-inputs {
  position: relative;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-input {
  margin: 0;
  padding: 9px 37px 9px 17px;
  outline: none;
  width: 143px;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  background-color: #F2F2F2;
  border: 3px solid transparent;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-input {
  -moz-appearance: none;
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus {
  border-color: #83B3D3;
}

.range-input:active {
  border-color: #000;
}

.range-input:disabled {
  opacity: 0.2;
  cursor: default;
}

.range-input:disabled:hover,
.range-input:disabled:focus,
.range-input:disabled:active {
  opacity: 0.2;
  background-color: #F2F2F2;
  border-color: transparent;
  cursor: default;
}

.input-from {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-to {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-label {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.range-label:hover {
  cursor: default;
}

.label-from {
  left: 106px;
  top: 11px;
}

.label-to {
  right: 20px;
  top: 11px;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 70%;
  height: 4px;
}

.range-toggle {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  top: -8px;
  left: 0;
}

.range-toggle:hover {
  background-color: #fff;
}

.range-toggle:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.range-toggle:active {
  box-shadow: inset 0 0 0 2px #83B3D3;
  background-color: #fff;
}

.range-toggle:disabled {
  background-color: #E5E5E5;
}

.toggle-from {
  top: -8px;
  left: 0;
}

.toggle-to {
  top: -8px;
  left: 190px;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hotel-filter__submit-button {
  width: 191px;
  padding: 8px 10px;
  color: #fff;
  background-color: #82B3D3;
}

.hotel-filter__submit-button:hover {
  background-color: #68A2CA;
  transition: 300ms;
}

.hotel-filter__submit-button:focus {
  background-color: #68A2CA;
}

.hotel-filter__submit-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-filter__reset-button {
  width: 191px;
  padding: 8px 10px;
  color: #fff;
  background-color: transparent;
  margin-top: 32px;
}

.hotel-filter__reset-button:hover {
  color: rgba(255, 255, 255, 0.3);
  transition: 300ms;
}

.hotel-filter__reset-button:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.hotel-filter__reset-button:active {
  box-shadow: none;
  color: rgba(255, 255, 255, 0.3);
}

/* Стили для каталога */
.catalog {
  padding-top: 50px;
  margin-bottom: 60px;
}

/* Стили для шапки каталога */
.catalog-header {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.hotels-count {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  text-transform: uppercase;
}

.sorting-form {
  position: relative;
}

.catalog-sorting {
  width: 290px;
  margin: 0;
  margin-left: 20px;
  padding: 14px 20px 14px 20px;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  text-align: justify;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  background-image: url("../img/vector/catalog-header-select-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 260px;
  background-position-y: center;
  outline: none;
}

.catalog-sorting:hover {
  border-color: #68A2CA;
  transition: 200ms;
}

.catalog-sorting:focus {
  border-color: #68A2CA;
}

.catalog-sorting:active {
  border-color: #3F5E72;
}

.catalog-sorting:disabled {
  opacity: 0.3;
}

.type-of-view-list {
  list-style: none;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.type-of-view-list__button {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  border-image: none;
  color: inherit;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.type-of-view-list__button:hover {
  border-color: #000;
  transition: 200ms;
}

.type-of-view-list__button:focus {
  border-color: #83B3D3;
}

.type-of-view-list__button:active {
  border-color: #000;
}

.tiles-view {
  border-color: #000;
  background-image: url('../img/vector/catalog-header-tile.svg');
}

.card-view {
  background-image: url('../img/vector/catalog-header-content.svg');
}

.list-view {
  background-image: url('../img/vector/catalog-header-list.svg');
}

/* Стили для содержимого каталога */

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 19px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 40px;
}

.catalog-list-item {
  border: 1px solid #E6E6E6;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.catalog-list-see-hotel-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.catalog-list-img {
  order: -1;
  margin-bottom: 16px;
}

.catalog-list-title {
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.price-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.price-list-title,
.price-list-value {
  width: 140px;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  margin: 0;
  padding: 0;
}

.price-list-value {
  text-align: right;
}

.catalog-item-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.catalog-item-link-see-more {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  width: 140px;
  background-color: #756157;
  padding: 8px 10px;
}

.catalog-item-link-see-more:hover {
  background-color: #615048;
  transition: 300ms;
}

.catalog-item-link-see-more:focus {
  background-color: #615048;
}

.catalog-item-link-see-more:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.add-to-favorites-button {
  color: #fff;
  background-color: #82B3D3;
  width: 140px;
  padding: 8px 10px;
}

.add-to-favorites-button:hover {
  background-color: #68A2CA;
  transition: 300ms;
}

.add-to-favorites-button:focus {
  background-color: #68A2CA;
}

.add-to-favorites-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.add-to-favorites-button.selected-button {
  background-color: #7DB54F;
  transition: 300ms;
}

.add-to-favorites-button.selected-button:hover {
  background-color: #6C9E42;
}

.add-to-favorites-button.selected-button:focus {
  background-color: #6C9E42;
}

.add-to-favorites-button.selected-button:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-item-rating {
  display: flex;
  justify-content: space-between;
}

.catalog-item-rating-stars {
  width: 140px;
  height: 37px;
  background-image: url('../img/vector/catalog-star-review-point.svg');
  background-repeat: space no-repeat;
  background-position: left center;
}

.catalog-list-item:first-child .catalog-item-rating-stars {
  width: 89px;
}

.catalog-list-item:nth-child(2) .catalog-item-rating-stars {
  width: 89px;
}

.catalog-list-item:nth-child(3) .catalog-item-rating-stars {
  width: 65px;
}

.catalog-list-item:last-child .catalog-item-rating-stars {
  width: 43px;
}

.catalog-item-rating-text {
  text-transform: uppercase;
  margin: 0;
  padding: 8px 10px;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  width: 140px;
  border-radius: 4px;
  text-align: center;
  cursor: default;
}

.paginator {
  display: flex;
  gap: 8px;
}

.paginator-item {
  min-width: 60px;
  height: 60px;
  padding: 0 10px;
  border-radius: 4px;
  line-height: 60px;
  color: #fff;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
}

.paginator-item:hover {
  background-color: #68A2CA;
  transition: 300ms;
}

.paginator-item:focus {
  background-color: #68A2CA;
}

.paginator-item:not:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.paginator-item.disabled,
.paginator-item.disabled:hover,
.paginator-item.disabled:focus,
.paginator-item.active {
  color: #000;
  background-color: #F2F2F2;
  cursor: default;
}

.paginator__next-pages,
.paginator__next-pages:hover,
.paginator__next-pages:focus,
.paginator__next-pages:active {
  color: #000;
  background-color: transparent;
  cursor: default;
}

/* Стили для секции подписки на рассылку */

.subscription {
  padding-top: 96px;
  padding-bottom: 105px;
  background-image: url('../img/bitmap/subscription-background.jpg');
  background-size: cover;
  background-color: #756157;
  background-repeat: no-repeat;
}

.subscription-title-text {
  font-weight: 700;
  color: #fff;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.subscription-text {
  line-height: 26px;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.subscription-form {
  display: flex;
  justify-content: center;
  position: relative;
}

.subscription__email-form {
  width: 432px;
  margin: 0;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  font-family: inherit;
  font-weight: 400;
  color: #000;
  outline: none;
}

.subscription__email-form:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.subscription__email-form:active {
  box-shadow: inset 0 0 0 3px #000;
}

.subscription__email-form:disabled,
.subscription__email-form:disabled:focus,
.subscription__email-form:disabled:active {
  box-shadow: none;
  background-color: #E5E5E5;
  opacity: 0.3;
}

.subscription__button {
  width: 232px;
  color: #fff;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.subscription__button:hover {
  background-color: #68A2CA;
  transition: 300ms;
}

.subscription__button:focus {
  background-color: #68A2CA;
}

.subscription__button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}



/* Стили для секции подписки на рассылку (каталог) */

.subscription-without-bcg .subscription__email-form {
  background-color: #F2F2F2;
}

.subscription-without-bcg {
  background: none;
}

.subscription-without-bcg .subscription-title-text,
.subscription-without-bcg .subscription-text {
  color: #000;
}

/* Стили для  подвала (main-footer)*/

.main-footer {
  padding-top: 45px;
  padding-bottom: 35px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  align-items: center;
}

.socials-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-list-link {
  position: relative;
  display: block;
  width: 47px;
  height: 40px;
  padding: 8px 0;
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.socials-list-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.socials-list-link:hover .socials-list-icon {
  fill: #68A2CA;
  transition: 200ms;
}

.socials-list-link:focus .socials-list-icon {
  fill: #68A2CA;
}

.socials-list-link:active .socials-list-icon {
  fill: rgba(104, 162, 202, 0.3);
}


.main-footer__number {
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.main-footer__number:hover {
  color: #756157;
  transition: 200ms;
}

.main-footer__number:focus {
  color: #756157;
}

.main-footer__number:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-icon {
  fill: #000;
}

.developer:hover .developer-icon {
  fill: #756157;
  transition: 200ms;
}

.developer:focus .developer-icon {
  fill: #756157;
}

.developer:active .developer-icon {
  fill: rgba(117, 97, 87, 0.3);
}

/* Стили для модального окна */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-search {
  position: relative;
  margin: auto;
  width: 717px;
  background-color: #fff;
  border-radius: 30px;
  padding: 64px 66px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.modal-close-button::before {
  content: "";
  position: absolute;
  top: 39%;
  left: 37%;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("../img/vector/modal-close-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
  transition: 300ms;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
}

.modal-close-button:active::before {
  opacity: 0.3;
}

.modal-dates-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 23px;
}

.field-sign {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 20px;
}

.field-sign__dates {
  width: 125px;
}

.field-sign__quantity {
  width: 92px;
}

.field-date {
  width: 440px;
  padding: 12px 70px 12px 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  color: #000;
  background-image: url("../img/vector/modal-field-date.svg");
  background-position: 90% center;
  background-repeat: no-repeat;
  background-color: #F2F2F2;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.field-date:hover {
  background-color: #E6E6E6;
}

.field-date:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.field-date:active {
  box-shadow: inset 0 0 0 3px #000;
}

.field-date:disabled,
.field-date:disabled:focus,
.field-date:disabled:active {
  box-shadow: none;
  background-color: #E5E5E5;
  opacity: 0.3;
}

.field-signature {
  margin: 0;
  margin-top: 4px;
  margin-left: 163px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
}

.field-signature__alert {
  color: red;
}

.persons-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.persons-quantity-young,
.persons-quantity-adults {
  display: flex;
  align-items: center;
}

.persons-quantity-adults__field-sign {
  margin-right: 46px;
}

.persons-quantity-young__field-sign {
  margin-right: 10px;
  width: 49px;
}

.tooltip {
  position: relative;
  margin-right: 46px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  color: #fff;
  background-image: url('../img/vector/modal-tooltip.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #83B3D3;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  top: 45px;
  right: -118px;
  display: none;
  width: 256px;
  margin: 0;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: left;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip-text::after {
  content: '';
  position: absolute;
  rotate: 45deg;
  top: -9px;
  left: 116px;
  display: block;
  width: 19px;
  height: 19px;
  background-color: #333333;
}

.persons-field {
  text-align: center;
  width: 31px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
  background-color: #F2F2F2;
  -moz-appearance: textfield;
}

.persons-field::-webkit-outer-spin-button,
.persons-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.less-button,
.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 48px;
  padding: 0;
  margin: 0;
  background-color: F2F2F2;
  font-size: 24px;
  color: #7561574D;
  border: none;
  cursor: pointer;
}

.change-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 24px;
  height: 24px;
}

.less-button:hover,
.more-button:hover {
  color: #000;
  transition: 0.3s;
}

.less-button:focus,
.more-button:focus {
  outline: none;
  border: none;
}

.less-button:focus .change-quantity,
.more-button:focus .change-quantity {
  border: 3px solid #83B3D3;
}

.less-button:active,
.more-button:active {
  color: #7561574D;
  transition: 0.3s;
}

.less-button:disabled,
.more-button:disabled {
  background-color: #E5E5E5;
  cursor: default;
}

.less-button {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.more-button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.modal__button {
  width: 100%;
  padding: 18px;
  color: #fff;
  background-color: #83B3D3;
  outline: none;
  border: none;
}

.modal__button:hover {
  background-color: #68A2CA;
  transition: 300ms;
}

.modal__button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.modal-closed {
  display: none;
}
